body{

font-family: Arial;
background: linear-gradient(120deg,#2F80ED,#9B51E0);
margin:0;
color:white;
text-align:center;

}

header{

background:#111;
padding:20px;

}

nav a{

color:white;
margin:10px;
text-decoration:none;
font-weight:bold;

}

.container{

padding:40px;

}

.cards{

display:flex;
justify-content:center;
gap:30px;

}

.card{

background:white;
color:black;
padding:20px;
border-radius:10px;
width:200px;

}

input,select,textarea{

display:block;
margin:10px auto;
padding:10px;
width:250px;
border:none;
border-radius:5px;

}

button{

padding:10px 20px;
background:#27AE60;
border:none;
color:white;
border-radius:5px;
cursor:pointer;

}

button:hover{

background:#219150;

}
